.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.sent-speech-bubble { 
	position: relative;
	background: #00aabb;
	text-align: center;
	border-radius: .4em;
	   } 

.message-box {
	overflow-y: scroll;
}
.sent-speech-bubble:after {
	content: ''; 
	position: absolute;
	right: 0; top: 50%; 
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -13px;
	margin-right: -13px;
	}

.received-speech-bubble { 
	position: relative; 
	background: #ff0000; 
	border-radius: .4em; 
	text-align: center;
	} 

.received-speech-bubble:after { 
	content: ''; position: absolute; 
	left: 0; top: 50%; width: 0; 
	height: 0; 
	border: 13px solid transparent; 
	border-right-color: #ff0000; 
	border-left: 0; margin-top: -13px; 
	margin-left: -13px; }